* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100%;
    width: 100%;
    margin: 0em;
    display: flex;
    flex-direction: column;

}

.OLIVER {
    font-family: broadway;
    font-size: 3em;
    width: 80vh;
    margin-top: 3vh;
    margin-left: 1em;
}


header {
    width: 100%;
    padding-bottom: 2em;
    margin: 1em;
    display: flex;
    flex-direction: row; 
    
    /* background-color: tomato; */   
}



ul {
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: 2vh;
    margin-right: 1em;
    
}



li {
    display: flex;
    padding: 1em;
    margin: 10px;
}

li a {
    text-decoration: none;
}

.logo {
    margin: 0;
    padding: 0;
    margin-left: 10em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30em;
    
    
}

main {
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-family: tahoma;
    align-content: center;
    align-items: center;
}

.text-left {
    height: 60vh;
    width: 50%;
    margin: 1em;
   /* background-color: lightcoral; */

}

.text-right {
    height: 60vh;
    width: 50%;
    margin: 1em;
     /* background-color: lightseagreen; */
}

footer {
    height: 20vh;
    width: 100%;
    margin: 1em;
    /* background-color: limegreen; */

}

.bild {
    position: relative;
    width: 50%;
  }

.text-left img {
    display: block;
    align-content: center;
    margin-left: 7em;
    margin-top: 3em;
    height: 60vh;
    border-radius: 80px;
    /*transition: .5s ease;*/
    backface-visibility: hidden;
    opacity: 1;

}

.join {
    border-radius: 80px;
}

.middle .join {
    /*transition: .5s ease;*/
    opacity: 0;
    position: absolute;
    top: 50%;
    backface-visibility: visible;
   /* left: 50%;*/
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)*/

}

.text-left:hover img {
    opacity: 0.3;
    transition: 0.9s ease;


}

.text-left:hover .middle .join {
    opacity: 1;
    transition: 0.9s ease;
}

.join {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    width: 20em;
    margin-left: 12em;
    padding: 16px 32px;
}

.text-left h1 p {
    display: flex;
    
}

.text-left p {
    font-size: 20px;
    margin-top: 2em;
}

.text-left h1 {
    font-size: 30px;
    margin-top: 1em;
}

.text-right img {
    margin-top: 2em;
    height: 400px;
    
}

.text-right h1 {
    font-size: 30px;
    margin-top: 1em;
    margin-right: 2em;
    text-align: center;
}

.text-right p {
    font-size: 20px;
    margin-top: 2em;
    margin-right: 2em;
    text-align: center;

}

.images {
    display: flex;
    
}

.column {
    flex: 2%;
    padding: 1%;
}


footer img {
    margin-top: 0em;
    margin-left: 50%;
    padding: 0em;
    width: 7%;

}




footer h5  {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 4em;
    text-align: center;
}

footer p {
    text-align: center;
}

